<h1>Create A New Genre</h1>
<form action='/genres' method='POST'>
  <p>
    <label for='name'>Genre Name: </label>
    <input type='text' name='genre[name]' id='name'/>
  </p>
  <p>
    <input type='submit' value='Create Genre'/>
  </p>
</form>
