<h3> Edit <%= @song.name %> </h3>
<form action= <%= "/songs/#{slugify(@song.name)}" %>  method="post" >
  Name: <input type="text" name="name"><br>
  Artist: <input type="text" name="artist"><br>
  Genre(s):
  <ul>
    <% @genres.each do |genre| %>
      <li> <input type="checkbox" name="genre[]" value= <%= "#{genre.id}" %> > <%= genre.name %> </li>
    <% end %>
  </ul>
  Submit:
  <input type="submit" name="submit" id="submit" >
</form>
