<h3> Songs </h3>
<ul>
  <% @songs.each do |song| %>
      <li>
        <a href= <%="/songs/#{slugify(song.name)}" %> >
          <%=song.name%>
        </a>
        by
        <a href= <%= "/artists/#{slugify(song.artist.name)}" %> >
          <%= song.artist.name %>.
        </a>
      </li>

  <% end %>
</ul>
