<h1><%= @artist.name %></h1>
<br>
<h3>Songs:</h3>
<% @artist.songs.each do |song| %>
  <p><%= song.name %></p>
<% end %>
<br>
<h3>Genres:</h3>
<% @artist.genres.uniq.each do |genre| %>
  <p><%= genre.name %></p>
<% end %>
