<h1>Update Figure</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input  type="text" name="Artist Name" id="Artist Name" value="<%=@song.artist.name%>"></input>


  <br></br>

  <input type="submit" value="Save">

</form>
