
<h1>Create a new Song</h1>
 
<form action="/songs" method="post">
  <label>Song Name:</label>
  <input type="text" name="song_name" id="Name"><br>
 
  <label>Artist Name:</label>
  <input type="text" name="artist_name" id="Artist Name"><br></br>  

  <label>Genres: </label>
 
  <br></br> 
 
  <%@genres.each do |g|%>
    <input type="checkbox" name="genres[]" id="<%=g.name%>" value="<%=g.id%>"><%=g.name%></input>
  <%end%>
 
  <br></br>

  <input type="submit" value="Create">
</form>