<h1>Add a Song</h1>
<form action="/songs" method="POST">
  <label>Name<input type="text" name="song_name" id="song_name"/></label>
  <br><br>
  <label>Genres</label>
  <br>
  <% @genres.each do |genre|%>
  <input type="checkbox" name="genres[]" value="<%= genre.name %>" id="<%= genre.name %>">
  <%= genre.name %></input>
  <% end %>
  <br><br>
    <label>Artist Name<input type="text" name="artist_name" id="artist_name"/></label>
  <br><br>
  <input type="submit" value="Create"/>
</form>
