<form action="/songs" method="post">
  <label for="Name">Song Name:</label>
  <input type="text" id="Name" name="song_name" value="">
  <br>
  <label for="artist_name">Artist Name:</label>
  <input type="text" id="Artist Name" name="artist_name" value="">
  <br>
  <%@genres.each do |genre|%>
    <input type="checkbox" id="<%=genre.name%>" name="genres[]" value="<%=genre.id%>"><%=genre.name%>
    <br>
  <%end%>
  <input id="submit" type="submit" name="submit" value="Create">
</form>
