<form action="/songs" method="POST">
  <label for="name">Song Name: </label>
  <input type="text" name="Name" id="name" value=""><br />
  <label for="artist_name">Artist Name: </label>
  <input type="text" name="Artist Name" id="Artist Name" value=""><br />
  <label for="genre">Genre Name: </label>
  <% Genre.all.each do |genre| %>
    <label for"<%= genre.name %>"><%= genre.name %></label>
    <input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%= genre.id %>">
  <%end%>
  <input type="submit" value="Create" id="submit">
</form>