<h1>Welcome to the Sinatra Playlister</h1>

<h3>Artists</h3>
<p>View All <a href='/artists'><strong>Artists</strong></a></p>
<br>
<h3>Genres</h3>
<p>View All <a href='/genres'><strong>Genres</strong></a></p>
<br>
<h3>Songs</h3>
<p>View All <a href='/songs'><strong>Songs</strong></a></p>
<br>
