<h1>Welcome to Playlister</h1>

<h3>Menu</h3>
<ul>
    <li><a href="/songs/new">Make a New Song</a></li>
    <li><a href="/songs">See all Songs</a></li>
    <li><a href="/artists">See all Artists</a></li>
    <li><a href="artists">See all Genres</a></li>
</ul>