<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Playlister</title>
  </head>
  <body>
    <h1>Welcome to Playlister</h1>
    <h3>Select from the following</h3>
    <ul>
      <li><a href="/songs/new">Add a new song</a></li>
      <li><a href="/songs">View all songs</a></li>
      <li><a href="/artists">View all artists</a></li>
      <li><a href="/genres">View all genres</a></li>
    </ul>

  </body>
</html>
