<h1>Welcome to the Flatiron Playlister Music App</h1>
<h3>You can explore our library of songs by:
  <ul>
    <li><a href="/artists">Artist</li>
    <li><a href="/genres">Genre</li>
    <li><a href="/songs">Song Name</a></li>
  </ul>
</h3>
