<h1>Welcome to Playlister!</h1>

<br></br>

<h3><a href='/songs'>Click here</a> to see your songs!</h3>
<h3><a href='/artists'>Click here</a> to see your artists!</h3>
<h3><a href='/genres'>Click here</a> to see your genres!</h3>
