<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <h5>██ ██ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ██ ██ ░░ ░░ ░░ ░░ ░░ ██ ██ ░░ ░░ ░░ ░░ <br>
██ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ██ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ░░ ██ ██ ██ ░░ ██ ░░ ░░ ██ ██ ██ <br>
██ ██ ██ ░░ ██ ░░ ░░ ██ ██ ██ ░░ ██ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ██ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ░░ ██ ░░ ██ <br>
██ ░░ ░░ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ██ <br>
██ ░░ ░░ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ░░ ██ ░░ ██ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ░░ ██ ██ ░░ <br>
░░ ░░ ░░ ░░ ██ ██ ░░ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ██ <br></h5>
    <a style="padding: 5px;" href="/">Home</a>
    <a style="padding: 5px;" href="/songs">Songs</a>
    <a style="padding: 5px;" href="/artists">Artists</a>
    <a style="padding: 5px;" href="/genres">Genres</a>
    <a style="padding: 5px;" href="/songs/new">Add song</a>
    <%= yield %>
  </body>
</html>
