<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Bootcamp Sinatra Playlister, by s-blais</title>
    <style type="text/css">
      body {font-family: Helvetica; color: #484848;}
      </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>